.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#item-1{
    width: 350px;
}
.card{
    margin-top: 10em;
    margin-left: 6em;
 }

.textoLogin{
    color: #ffffff;
    text-align: center;
    margin-top: 2.5em;
}

.textoEmailSenha{
    color: #ffffff;
    margin-left: 6%;
    text-align: left;
    margin-top: 3em;
}

.Input1{
    margin-top: 2em;
    margin-left: 6%;
    text-align: left;  
}
.Input2{
    margin-top: 1.5em;
    text-align: left;
    margin-left: 6%;
}

.botao{
    text-align: center;
    margin-top: 3em;
    opacity: 100;
}
