<div class="container">
        <div id="item-1"> 
                <header class="tituloMenu">
                    <p>Gym Management</p> 
                </header>              
                <p-tieredMenu [model]="items" styleClass="menucus" style="color:blanchedalmond"></p-tieredMenu> 
                <footer class="textoFooter">
                    <p>Admin</p> 
                </footer>              
        </div> 

        <div id="item-2">
            <div class="titulo"> 
                <h3>Alunos</h3>
            </div>
            <div class="textoMatrícula"> 
                <h3>Matrícula</h3>
            </div>
            <div class="textoNome"> 
                <h3>Nome</h3>
            </div>
            <div class="textoPlano"> 
                <h3>Plano</h3>
            </div>
            <div class="textoSituacao"> 
                <h3>Situação</h3>
            </div>
            <div class="textoStatus"> 
                <h3>Status de Pagamento</h3>
            </div>
           
        </div>  
</div>
