<div class="container">
    <div class="menu-container">
                    <header class="tituloMenu">
                        <p>Gym Management</p> 
                    </header>              
                    <p-tieredMenu [model]="items" styleClass="menucus" ></p-tieredMenu> 
                    <span class="iconeSair">
                        <p-button (click)="deslogar()" type="button" icon="pi pi-sign-out" styleClass="p-button-text"></p-button>
                    </span>             
                    <footer class="textoFooter">                
                        <p>Admin</p> 
                    </footer>              
    </div> 
    <div class="base-container">       
                <div class="titulo"> 
                    <h3>Alunos</h3>
                </div>
                <div class="card3">
                     <p-table 
                     [value]="products" 
                     [paginator]="true"
                     [rows]="20"
                     [showCurrentPageReport]="true"
                     [tableStyle]="{'min-width': '50rem'}" 
                     styleClass="myTable" 
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [rowsPerPageOptions]="[10, 25, 50]">                            
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th>Plano</th>
                                <th>Situação</th>
                                <th>Status de Pagamento</th>
                            </tr>
                           
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{ product.matricula }}</td>
                                <td>{{ product.nome }}</td>
                                <td>{{ product.plano }}</td>
                                <td>{{ product.situacao }}</td>
                                <td>{{ product.status }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">           
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                        </ng-template>
                    </p-table>
                </div>
    </div>
</div>