<div class="container">
    <div class="menu-container">
                    <header class="tituloMenu">
                        <p>Gym Management</p> 
                    </header>              
                    <p-tieredMenu [model]="items" styleClass="menucus" style="color:blanchedalmond"></p-tieredMenu> 
                    <footer class="textoFooter">
                        <p>Admin</p> 
                    </footer>              
    </div> 
    <div class="base-container">       
                <div class="titulo"> 
                    <h3>Alunos</h3>
                </div>
    </div>
</div>