$background-color: #000000 !important;
$font-color: #FCA311 !important;
$font-color2: #fff !important;
$font-family1: 'Roboto', sans-serif;
$font-size1: 12pt;
$font-sizeMenu: 16px;
.container{
    display: flex;
    flex-direction: row;
}
.base-container{
    display: flex;
    position: relative;
    float: right;
    height: 100vh;
    width: 1000px;
    background-color: rgb(0, 0, 0);
    opacity: 0.92;
    border-radius: 15px;
    margin-left: 3em;    
    margin-top: 0;
}
.menucus {
         background-color: transparent;
         border-color: transparent;   
         height: 80vh;
         margin-left: 0;
         margin-top: 6em;         
          
}
.menucus ul li:nth-child(1) {
         margin-top: 0em;   
}
.menucus ul li:nth-child(6) {
    margin-top: 18em;
}    
.p-menuitem{
    font-weight: bold;
    font-family: $font-family1;
    margin-left: 0%;

}
.p-menuitem-link:not(.p-disable):hover{
    background-color: #595959 !important;
}
.p-menuitem-text{   
    color: #fff ! important;
    font-size: $font-sizeMenu;
}
.p-menu-separator{
    border-top: 2.5px solid #FCA311! important;
    margin-left: 0%;
    //position: ;
}
.menu-container{
    display: flex;
    justify-content: left;
    opacity: 0.92;
    border-radius: 15px;
    margin-left: 0em;
    background-color: black;
    height: 100vh;
    width: 200px;
}


.tituloMenu{
    color: $font-color;
    text-align: center;
    margin-top: 1.5em;
    margin-left: 1.3em;
    position: absolute;
    border: none;
    font-size: 18px;
    font-weight: bold; 
}
.textoFooter{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 36.5em;
    margin-left: -6em;
    position: relative;
}
.titulo{
    color: $font-color2;
    text-align: left;
    margin-top: 2em;
    margin-left: 2em;
    border: none;
}

.tableStyle{
    background-color: rgb(0, 0, 0);
    opacity: 0.92;
}